#calculator-body {
    display: flex;
    flex-direction: column;
}

#dipslay {
    border-radius: 10px;
    width: 212px;
    height: 50px;
}

button {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

#zero-btn {
    width: 104px;
}