body {
    display: flex;
    justify-content: center;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
}

button {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border-style: none;
    margin-right: 5px;
    font-weight: bolder;
    font-size: larger;
}

#display-btn {
    width: 228px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px;
}

#divide, #multiply, #subtract, #add, #equal, #display-btn {
    margin-right: 0px;
}

.opr-btn, .eql-btn{
    background-color: rgb(248, 142, 4);
    color: white;
}

#clear, #delete, #negate {
    background-color: darkgray;
}

#clear, #delete {
    font-size: medium;
}

.num-btn, #dot{
    color: white;
    background-color:dimgray
}


#zero-btn {
    width: 109px;
}

.rows {
    margin-top: 10px;
}
